<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">
            <h2>Cryptocurrency Trading Platform</h2>
        </div>
        <div class="navbar-links">
            <a href="/login">Login</a>
            <a href="/signup">Sign Up</a>
        </div>
    </nav>
    <div class="main-content">
        <h1>Welcome</h1>
        
    </div>
</body>
</html>
